body {
    font-family: Verdana, Arial, sans-serif;
}

h1 {
    color: white;
    background-color: navy;
    }
    
/*h1:hover{
    color:Red;
    background-color: lightyellow;
}    */

/*h1.clicked {
    color: lightyellow;
    background-color:Red; 
}*/

h1 .node {
     font-family: monospace; 
    }

 
 
h2.clicked {
    color: lightyellow;
    background-color:pink; 
}
    
h2 {
    color: green; margin-left:40px;
    border-bottom: 4px dotted black;
    }         